<ng-include ng-controller='inputCtrl'></ng-include>

<div class="row">
<div class="col-md-8">
<!--	<div class="box-border">
		<p>Hello {{profil.name}}</p>
		<p>Haircolor: {{profil.hair}}</p>
		<p>Eyecolor: {{profil.eye}}</p>
	</div> -->
	<h3> Select eye color: </h3>

	<div class="scroll">
        <div class="wide">  
            <div  ng-repeat="(col, hex) in eyecols" class="circle form-control" style="background-color:{{hex}}" ng-click="inputHair(col)"></div> 
        </div>
    </div>
	
	<h3> Select hair color: </h3>
	<div class="scroll">
        <div class="wide">  
            <div  ng-repeat="(col, hex) in haircols" class="circle form-control" style="background-color:{{hex}}" ng-click="inputEye(col)"></div> 
        </div>
    </div>
	
	<h3> Select height: </h3>
	<div class="row input-row">
			<input type="text" id="height-input" class="form-control" ng-model="height">
	</div>

	<!--- 	<div class="row input-row">
  		<div class="col-md-5">
  		<a ng-href="#/result">
			<input type="submit" value="Submit" class="form-control btn" ng-click="inputHeight(height)">
		</a>
		</div>
	</div> -->
</div>

<ng-include src="'partials/me.html'" ng-controller="inputCtrl"></ng-include>

</div>