<ng-include src="'partials/menu-view.html'" ng-controller="menuCtrl"></ng-include>


<div class="container">
	<div id="instructions-header">
		<h1>INSTRUCTIONS</h1>
	</div>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1">
				<img src="images/planet.png" height="50" width="50">
			</div>
			<div class="col-md-11">
				<p>PROFILE</p>
				<p>
					The profile shows who you are and statistics about you battles in the universe. On this page you are able to se all the planets you have conquered and read more about them. You will also see and how many planets you have left to win to become king of the universe!
				</p>
				<br/>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1">
				<img src="images/planet.png" height="50" width="50">
			</div>

			<div class="col-md-11">
				<p>UNIVERSE<p>
				<p>
					Here is where the magic happens! The universe-page is the battlefield. Here is where you go to try to win planets in the game Planet Battle!
				</p>
				<br/>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1">
				<img src="images/planet.png" height="50" width="50">
			</div>
			<div class="col-md-11">
				<p>RULES FOR PLANET BATTLE</p>
				<p>By clicking on a planet you will start fighting for it. If you win the planet will be added to your collection of planets that you can view on your profile, if you loose you will not collect the planet. You will have diffrent odds of winning for each planet and these odds are based on how much you look like one of the habitants on that planet since the more you look like someone the easier it will be for you to go under cover as that person.</p>
				<br/>

				<p>Good Luck!</p>
			</div>
		</div>
	</div>
</div>