<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include>


<div class="container">
	
	<div class="header">
		<h1>instructions</h1> 
	</div>

	<div class="instructBox col-md-12" style="height:auto;">
		<div class="row">

			<div class="col-md-4">
				<div class="col-md-12 instructimg" style="height:60px"><img src="images/r2.png" height="50px"></div>
				<div class="col-md-12 instructhead"><h3>The characters</h3></div>
				<div class="col-md-12 instructtext"><p>
					Create a character, with a name and awesome looks and save it.
					You can create as many characters as you want and try conquer the galaxy. 
				</p></div>
			</div>

			<div class="col-md-4">
				<div class="col-md-12 instructimg" style="height:60px"><img src="images/fight.png" height="50px;margin:0px"></div>
				<br/>
				<div class="col-md-12 instructhead"><h3>The battlefield</h3></div>
				<div class="col-md-12 instructtext"><p>
					Go to the battle field and conquer the galaxy. Your chance to win a planet is based on
					how much you look like one of its habitants.  
				</p></div>
			</div>

			<div class="col-md-4">
				<div class="col-md-12 instructimg" style="height:60px"><img src="images/spaceship.png" height="50px"></div>
				<div class="col-md-12 instructhead"><h3>Your profile</h3></div>
				<div class="col-md-12 instructtext"><p>
					Go to your profile to see all your planets you have and havn't conquered. Here you can also view information 
					about the planets. Your oasis in the stressful Jedi life!
				</p></div>
			</div>

		</div>
			<div style="text-align:center">
				<a href="#/char-library" class="btn" id="next-btn" type="button">GET STARTED</a>
			</div>
	</div> <!-- end of Instructbox --> 

</div>

