<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include>


<div class="container">
	<div class="header">
		<h1>instructions</h1> 
		<p>Here's how to play the game.</p> 
	</div>



	<div class=" instructBox col-md-12">
		<div class="row">
			<div class="col-md-4">
				<img src="images/planet.png" height="25%" width="25%">
				<p>Create character</p>
				<p>
					Create a character, with a name and awesome looks, and save him/her.
					If you want to create several characters, they are all saved for future use! 
				</p>
				<br/>
			</div>

			<div class="col-md-4">
				<img src="images/fight.png" height="23%" width="23%">
				<br/>
				<p>Fight the battle<p>
				<p>
					Go to the battle field and conquer the galaxy. You chance to win a planet is based on
					how much you look like one of its habitants.  
				</p>
				<br/>
			</div>

			<div class="col-md-4">
				<img src="images/planet.png" height="25%" width="25%">
				<p>Hang out in your imperium</p>
				<p>Go to your profile to see all your planets and view info about them.</p>
				<br/>
			</div>
		</div>
	</div>

	<div style="text-align:center">
		<a href="#/char-library" class="btn" id="next-btn" type="button" ng-click="">GET STARTED</a>
	</div>
</div>