<div class="col-md-12 menu" style="padding:0px;" ng-init="animateMenu()">
	<div class="row">
	
		<div class="col-md-5 line" id="leftMenu">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4"></div>
					<div class="col-md-4 menu-item" ng-class="{'active':path == '/instructions'}">
						<a href="#/instructions">Instructions</a>
					</div>
					<div class="col-md-4 menu-item" ng-class="{'active':path == '/profile'}">
						<a href="#/profile">My Profile</a>
					</div>
				</div>
			</div>
		</div>

		<div id="planet" class="col-md-2">
			<img ng-hide="path === '/home'" src="images/planet.png" style="width:140px"/>
		</div>

	
		<div class="col-md-5 line" id="rightMenu">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4 menu-item" ng-class="{'active':path == ''}">
						<a href="#/char-library">Charachters</a>
					</div>

					<div class="col-md-4 menu-item" ng-class="{'active':path == ''}">
						<a href="#/planets">Conquer</a>
					</div>

					<div class="col-md-4"></div>

				</div>
			</div>
		</div>

	</div>
</div>

