<div class="col-md-12 menu" style="padding:0px;">
	<div class="row">
	
	<div ng-if="loading == false"><div ng-init="animateMenu()"></div></div>

		<div class="col-md-5 line" id="leftMenu" ng-hide="loading == true">
			<div ng-hide="menu">
			<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4 menu-item" ng-class="{'active':path == '/instructions'}">
						<a href="#/instructions">Instructions</a>
					</div>
					<div class="col-md-4 menu-item" ng-class="{'active':path == '/profile'}">
						<a href="#/profile">My Profile</a>
					</div>
			</div>
			<img src="images/handleLeft.png" style="width:80px;height:32px;float:left;margin-top:-11px;margin-left:-10px;"/>
			<div class="box"></div>
		</div>
		</div>

		<div id="planet" class="col-md-2">
			<a href="#/home"><img ng-hide="path === '/home'" src="images/planet.png" style="width:140px"/></a>
		</div>

	
		<div class="col-md-5 line" id="rightMenu" ng-hide="loading == true">
			<div class="row">				
					<div class="col-md-4 menu-item" ng-class="{'active':path == '/char-library'}">
						<a href="#/char-library">Characters</a>
					</div>

					<div class="col-md-4 menu-item" ng-class="{'active':path == '/planets'}">
						<a href="#/planets">Battle field</a>
					</div>
					<div class="col-md-4"></div>
			</div>
			<div class="box"></div><img src="images/handle.png" style="width:80px;height:32px;float:right;margin-top:-22px;margin-right:-10px;"/>
		</div>

	</div>
</div>

