<div class="col-md-12 menu">
	<div class="row">

		<div class="col-md-2" ng-class="{'active':path == '/home'}">
			<a href="#/start">Start</a>
		</div>
		
		<div class="col-md-2 dropdown">
	  		<a class="menu-item dropdown-toggle" data-toggle="dropdown">Characters
	  		<span class="caret"></span></a>
	  			<ul class="dropdown-menu">
	   				<li><a href="#/hair">New Character</a></li>
	    			<li><a href="#/select">My Characters</a></li>
	  			</ul>
		</div>
		
		<div class="col-md-2" ng-class="{'active':path == '/profile'}">
			<a href="#/profile">Profile</a>
		</div>
		<!-- <div class="col-md-2" ng-class="{'active':path == '/hair'}">
			<a href="#/hair">New Character</a>
		</div>
		<div class="col-md-2" ng-class="{'active':path == '/select'}">
			<a href="#/select">My Characters</a>
		</div> -->
		<div class="col-md-2" ng-class="{'active':path == '/planet'}">
			<a href="#/planet">Planets</a>
		</div>

	</div>
</div>

