<ng-include src="'partials/menu.html'"></ng-include>


<div class="container" ng-init="getAvatar()">
	<div class="row">
		<div class="header">
			<h1>new character</h1>
			<p>Time to create your character! Select looks and hit save.</p> 
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<h3> Enter name:</h3>
				<input type="text" class="form-control" placeholder="{{avatar_name}}" id="nameInput" ng-model="name" ng-change="showName(name)" style="width:460px; margin-left:15px;">
			</div>
			<div class="col-md-12">
				<h3> Select hair color: </h3>
				<div class="scroll">
		        	<div class="wide">  
		            	<div ng-repeat="(col, hex) in haircols" class="circle form-control" style="background-color:{{hex}}" ng-click="showHair(col)"></div> 
		        	</div>
		    	</div>
		    </div>
		    <div class="col-md-12">
				<h3> Select eye color: </h3>
				<div class="scroll">
		        	<div class="wide">  
		            	<div ng-repeat="(col, hex) in eyecols" class="circle form-control" style="background-color:{{hex}}" ng-click="showEye(col)"></div> 
		        	</div>
		    	</div>
		    </div>
			<div class="col-md-12">
				<h3> Select height: </h3>
				<div class="row">
					<output for="height-input" id="height">150</output>
					<input type="range" min="100" max="200" value="150" id="height-input" step="1" ng-model="height" ng-change="showHeight(height)">
				</div>
			</div>
		</div>

		<!-- <div class="avatarWindow col-md-4" style="text-align: center;">
      		<div style="height:54px"></div> -->
			<ng-include src="'partials/avatar.html'" ng-controller="inputCtrl"></ng-include>
		<!-- 	<div class="col-md-12">
        		<p style="padding-top:10px; font-size:24px;">{{avatar_name}}</p>
      		</div>
		</div> -->

		<div class="col-md-12" id="save-btn" ng-show="location.hash !== '#/profile'">
			<a href="#/profile" class="btn" type="button" ng-show="location.hash === '#/new-char'" ng-click="saveProfile()">SAVE</a>
		</div>
	</div>
</div>

