<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include>

<ng-include ng-controller="planetsCtrl"></ng-include>

<div class="row" ng-show="'{{profil.name}}' === ''") style="padding-top:100px; padding-left:20px;">
<p>You cant play planets without a character!</p>

<a href="#/new-char" class="btn" id="next-btn" type="button" ng-click="">CREATE NEW CHARACTER</a>
<a href="#/char-library" class="btn" id="next-btn" type="button" ng-click="">SELECT OLD CHARACTER</a>

</div>

<div class="row" ng-hide="'{{profil.name}}' === ''">

<div class="col-md-8" ng-init="getPlanets()">
	<p> Select which planet to conquer by clicking it. </p>
	<div class="universe col-md-3" ng-repeat="planet in ourPlanets">
		<div class="planetPlan" id="{{planet.planet.name}}" name="planetButton" ng-click="moveToPlanet(planet)" ng-class='whatclass(planet)' data-toggle="popover" data-placement="right" data-content="Du har {{planet.lookAlike.points}} procents chans att vinna" data-trigger="hover">{{planet.planet.name}}</div>
    </div>
</div>



<div id="light" class="white_content result_popup col-md-12">
	<div class="row">
	<h2> Du vann kanske </h2>
	<div class="col-md-3"></div>
	<div class="col-md-6"></div>
	<div class="col-md-3"></div>
	</div>
</div>
   


<div id="fade" class="black_overlay"></div>

<ng-include src="'partials/avatar.html'" ng-controller="inputCtrl"></ng-include> 

</div>
 
