
<div ng-controller="menuCtrl" ng-include src="'partials/menu-view.html'">
</div>
<div class="festitesti" ng-init="play(startwars.mp3)" ng-controller="playCtrl">
<audio id="audio1" src="startwars2.mp3"></audio> 
<div class="col-md-4">
	<img src="images/stormtrooper.png" style="width:100px;height:100px;"><a>My Characters</a>

	<img src="images/darth.png"style="width:100px;height:100px;"><a>New Character</a>
	</div>
<div class="col-md-6" id="planetAnimation"> <img src="images/planet.png" style="width:140px"></div> 

	<div class="hejPlanet">
	<img src="josplanet.png" style="width:120%;height:120%;" />
	</div>


</div>