<ng-include src="'partials/menu.html'" ng-controller="menuCtrl"></ng-include>
<ng-include src="'partials/error.html'" ng-show="'{{profil.name}}' === ''"></ng-include>

<!-- Starts loading profile information -->
<div class="container" ng-init="getAvatar()" ng-controller="inputCtrl">
	<!-- If user has a profile the profile is being shown -->
	<div class="row" ng-hide="'{{profil.name}}' === ''">
		<div class="header">
			<h1>profile</h1>
			<p>Here's your profile. Your cute avatar and the imperium you've taken over.</p>
			<p>Click on a planet to read more about it!</p> 
		</div>
		<!-- Includes view of won planets. Planets are clickable and if clicked the pop up is opened -->
		<div class="col-md-8">
			<div class="col-md-12" ng-show="'{{wonPlanets.length}}' !== '0'">
				<h3>Your planet collection</h3>
				<div class="col-md-3 universe" ng-repeat="planet in wonPlanets">
					<div name="solarSystem" ng-class='whatclass(planet)' ng-click="open_popup(planet)">
						<img src="josplanet.png" width="60px" height="60px">
						<p>{{planet.planet.name}}</p>
					</div>
				</div>
				<div class="col-md-12">
					<h3>Planets you lost</h3>
					<div class="col-md-3 universe" ng-repeat="planet in lostPlanets">
						<div name="solarSystem" ng-class='whatclass(planet)' ng-click="open_popup(planet)">
							<img src="josplanet.png" width="60px" height="60px">
							<p>{{planet.planet.name}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12" ng-hide="'{{wonPlanets.length}}' !== '0'">
				<p>You have no planets yet. Go to the battle field to try winning some</p>
			</div>
		</div>

		<div class="avatarWindow col-md-4">
      		<a href="#/new-char" class="btn" id="avatar-btn" type="button">
          		<span class="glyphicon glyphicon-pencil"></span>
      		</a>
				<ng-include src="'partials/avatar.html'" ng-controller="inputCtrl"></ng-include>
			<div class="col-md-12">
        		<p style="padding-top:10px; font-size:24px;">{{profil.name}}</p>
      		</div>
		</div>

		<div class="col-md-12" style="text-align:center;" ng-show="location.hash !== '#/new-char'" >
			<a href="#/planets" class="btn" type="button">START GAME</a>
		</div>
	</div>
</div>  <!-- End of profile page -->



<!-- Pop up -->
<div id="light" class="white_content planet_info col-md-12">
	<div class="col-md-12 closeButton" style="text-align: right;">
		<a ng-click="close_popup()" class="btn" type="button">X</a>
	</div>
	<div class="col-md-12 popup-center" style="text-align:center"> 
		<h2> {{popup_name}}</h2>
	</div>
	<div class="col-md-12" >
		<div class="row">
		<div class="col-md-3 diameter">
			<h2>
				D: {{popup_diameter}}
				<img src="images/diameter.png" height="300px" width="50px">
			</h2>
		</div>
		<div class="col-md-6 popup-planet" style="text-align: center;">
			<img src="josplanet.png" alt="planet" height="300" width="300">		
		</div>
		<div class="col-md-3">
			<br/>
			<br/>
			<h2>
				<img src="images/population.png" height="40px" width="40px">
				{{popup_population}}
			</h2>
			<h2>
				<img src="images/mountain.png" height="40px" width="40px">
					{{popup_terrain}}
			</h2>
			<h2>
				<img src="images/sun.png" height="40px" width="40px">
				{{popup_climate}}
			</h2>
			<h2>
				<img src="images/drop.png" height="40px" width="40px">
				{{popup_surfacewater}}
			</h2>
		</div>
		</div>
	</div>
	
</div> <!-- En of pop up -->

<!-- Fade behind pop up -->
<div id="fade" class="black_overlay" ng-click="close_popup()"></div>
