<ng-include src="'partials/menu-view.html'" ng-controller="menuCtrl"></ng-include>

<div class="container">
<div class="row" ng-show="'{{profil.name}}' === ''") style="padding-top:100px; padding-left:20px;">
<p>You have no character yet!</p>

<a href="#/hair" class="btn" id="next-btn" type="button" ng-click="">CREATE NEW CHARACTER</a>
<a href="#/select" class="btn" id="next-btn" type="button" ng-click="">SELECT OLD CHARACTER</a>

</div>

<div class="row" ng-hide="'{{profil.name}}' === ''">
<div class="col-md-8">

<h3> My imperium </h3>

</div>
<ng-include src="'partials/me.html'" ng-controller="inputCtrl"></ng-include>
</div>

</div>