<ng-include src="'partials/menu-view.html'" ng-controller="menuCtrl"></ng-include>

<div class="col-md-12" id="info">
	<p>Imagine you could go under cover to take over 
		<br/>
		every planet in the Star Wars universe... </p>
	<h1>This is how it works</h1>
	<p> 
	1. Create a character
	<br/>
	2. Fight over planets in the Star Wars Universe

	</p>
</div>
<!-- <div class="col-md-6" id="leftButton">
<a href="#/select" class="btn" id="old-character" type="button" ng-click="">MY CHARACTERS</a>
</div> -->
<div class="col-md-12" id="rightButton">
	<a href="#/hair" class="btn" id="new-character" type="button" ng-click="">NEW CHARACTER</a>
</div>