<!-- <ng-include src="'partials/menu-view.html'" ng-controller="menuCtrl"></ng-include>-->
<div ng-controller="startCtrl" ng-init="fetchPlanets()">

<div id="startView" class="container-fluid">
	<div  class="col-md-12">
		<div class="row">
		<div class="col-md-3"></div>

		<div class="col-md-6" id="startViewIntro">
		<h1>time to conquer the universe</h1>
		<div class="round-button"><div class="round-button-circle"><a href="#/hair" class="round-button">PLAY</a></div></div>
		</div>
	
		<div class="col-md-3"></div>
		</div>
	</div>
</div>
<!-- <div class="col-md-6" id="leftButton">
<a href="#/select" class="btn" id="old-character" type="button" ng-click="">MY CHARACTERS</a>
</div> -->
