<ng-include src="'partials/menu.html'"></ng-include>

<div style="height:100%" class="col-md-12 universe" ng-init="getPlanets()">
<div class="row">

 <div class="col-md-1 planeten" ng-repeat="planet in ourPlanets" style="height:100%">
		<div class="solarSystem" ng-click="open_popup(planet.planet)"></div>
	</div>
</div>
</div>

<div id="light" ng-click="close_popup()" class="white_content planet_info col-md-12">
	<div class="row">
		<div class="col-md-2 diameter">
			<h2>
				D: {{popup_diameter}}
			</h2>
		</div>
		<div class="col-md-1">
		</div>
		<div class="col-md-6">
			<h2> {{popup_name}}</h2>
			<img src="josplanet.png" alt="planet" height="200" width="200">		
		</div>
		<div class="col-md-3">
			<br/>
			<br/>
			<h2>
				<img src="images/population.png" height="40px" width="40px">
				{{popup_population}}
			</h2>
			<h2>
				<img src="images/mountain.png" height="40px" width="40px">
					{{popup_terrain}}
			</h2>
			<h2>
				<img src="images/sun.png" height="40px" width="40px">
				{{popup_climate}}
			</h2>
			<h2>
				<img src="images/drop.png" height="40px" width="40px">
				{{popup_surfacewater}}
			</h2>
		</div>
	</div>
</div>
<div id="fade" class="black_overlay"></div>

	</div>
</div>



