<ng-include src="'partials/menu-view.html'"></ng-include>

<div class="row" style="height:100%">
 <div class="col-md-12 planeten" style="height:100%">
			

<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>
<div class="col-md-1 plany" ng-click="popup()"></div>


<div id="light" class="white_content">
	<div class="col-md-2"> Innehåll
</div>
</div>
   


<div id="fade" class="black_overlay"></div>

		</div>
	</div>



