 body{
	background-image: url("images/space.jpg");
  color:white;
 }

img{
    position: relative;
    -webkit-animation-name: moveimg; 
    -webkit-animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes moveimg {
/*    0%   {left:120px; top:0px;}
    25% {left:1400px; top:0px; }
    50% {left: 1400px; top:500px;}
    75% {left:120px; top:500px;}
    100% {left:120px; top:0px;}*/

   0%   {left:120px; top:0px;}
   25% {left:1400px; top:0px;}
   50% {left: 1400px; top:500px;}
   59% {-webkit-transform: rotate(0deg)}   
   60% {left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   63% {left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   66%{left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   69%{left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   72% {left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   76% {left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   80%{left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   90%{left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   95%{left: 1400px; top:-500px; -webkit-transform: rotate(0deg)}
   100%{left:120px; top:0px;}
}

h3{
  font-size: 20px;
}

p{
  font-size: 20px;
}

/* BOX DESIGN */ 

.box-border{
  border: 1px solid white;
}

.padding-200{
  margin-top:150px;
}

#procent{
  margin-top: 50px;
}

/* INPUT VIEW */
#input-view{
  margin:100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#input-view button{ 
  width:100px;
  margin-top:10px;
}

#input-view input{
  margin-top:10px;
}

/* INPUT FIELDS */ 

.input-row{ 
  height:100px;
}

#nameInput{
  width: 200px;
  margin: auto;
  color: #000033;
  background-color: white;
}

#height-input{
  background-color: white;
  color: #000033;
}

/* BUTTONS */ 

.btn{
  background-color: white;
  color: #000066;
}

.btn:hover{ 
  background-color: #cccccc;
}

#next-btn{
  margin-top: 100px;
  width: 200px;
}

.hair-btn{
  width: 150px;
}

.eye-btn{
  width: 150px;
}

.hair-btn:hover, :focus{
  background-color: #000033;
}

.eye-btn:hover, :focus{
  background-color: #000033;
}

.scroll
{
margin-top:10px;
padding-top:10px;
height:80px;
width:500px;
overflow-x:scroll;
white-space: nowrap;
}

.wide{ 
  width:800px;
  height:60px;
}

.circle{
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:20px;
  background:#ffffff;
  float:left;
  margin-left:10px;
  margin-right:10px;
}

#me-view{
  /*background: rgba(0, 100, 100, 0.5);*/
  background-color: yellow;
  color:white;
  height:500px;
}


#menu{
  height:50px;
  background-color: white;
  font-size:20px;
  padding-left:100px;
  padding-top:10px;
  color:black;
}

#menu a{
  margin:10px;
}

#header{
  height:100px;
  padding-top:10px;
  text-align: center;
}

#header h1{
  padding:0px;
  margin:0px;
}

#header p{
  margin:0px;
  padding:0px;
  font-size: 8px;
}

#info{
  padding-top:20px;
}










