 
body{
	background-image: url("images/space.jpg");
  color:white;
 }

img{
    position: relative;
    -webkit-animation-name: moveimg; 
    -webkit-animation-duration: 10s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes moveimg {
/*    0%   {left:120px; top:0px;}
    25% {left:1400px; top:0px; }
    50% {left: 1400px; top:500px;}
    75% {left:120px; top:500px;}
    100% {left:120px; top:0px;}*/

   0%   {left:120px; top:0px;}
   25% {left:1400px; top:0px;}
   50% {left: 1400px; top:500px;}
   59% {-webkit-transform: rotate(0deg)}   
   60% {left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   63% {left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   66%{left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   69%{left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   72% {left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   76% {left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   80%{left: 1400px; top:500px; -webkit-transform: rotate(-20deg)}
   90%{left: 1400px; top:500px; -webkit-transform: rotate(20deg)}
   95%{left: 1400px; top:-500px; -webkit-transform: rotate(0deg)}
   100%{left:120px; top:0px;}
}

h3{
  font-size: 36px;
}

p{
  font-size: 20px;
}

#procent{
  margin-top: 50px;
}
.mittenRuta{
	background: rgba(0, 0, 51, 0.7);
	color: white;
	text-align: center;
  margin: 0px;
	border-radius: 10px;
	height: 500px;
	font-size: 25px;
  width: 100%;
}

.padding-200{
  margin-top:150px;
}

/* INPUT VIEW */
#input-view{
  margin:100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#input-view button{ 
  width:100px;
  margin-top:10px;
}

#input-view input{
  margin-top:10px;
}

#height-input{
  width: 100px;
  margin:auto;
  margin-top:20px;
}

.input-row{ 
  height:100px;
}
#nameInput{
  width: 200px;
  margin: auto;
  color: #000033;
  background-color: white;
}

#height-input{
  background-color: white;
  color: #000033;
}

#nextButton{
  margin-top: 100px;
  width: 200px;
  background-color: white;
  color: #000033;
}

#nextButton:hover{
  background-color: #cccccc;
}

#againButton{
  background-color: white;
  color: #000066;
}

#againButton:hover{
  background-color: #cccccc;
}

#startButton{
  background-color: white;
  color: #000066;
}

#startButton:hover{
  background-color: #cccccc;
}
.hair-btn{
  width: 150px;
}

.eye-btn{
  width: 150px;
}

#submit-btn{
  width: 150px;
}

#submit-btn:hover{
  background-color: #cccccc;
}

.hair-btn:hover, :focus{
  background-color: #000033;
}

.eye-btn:hover, :focus{
  background-color: #000033;
}

#val{
  border: 1px solid white;
}

#profileInfo{
  border: 1px solid white;
}
#starInfo{
  border: 1px solid white;
}